* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-style {
    display: flex;
    width: 100%;
    align-items: center;
    height: 12vh;
    background-color: white;
}

.todo-style li {}

.todo-style .delete-btn {
    color: gray;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    filter: opacity(0.3) drop-shadow(0 0 brown);

}

.todo-style .delete-btn:hover {
    filter: opacity(0.8) drop-shadow(0 0 red);
    color: red;

}

.todo-style .mark-btn {
    color: gray;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 3%;
    filter: opacity(0.3) drop-shadow(0 0 brown);

}

.todo-style .mark-btn:hover {
    filter: opacity(0.8);
    color: green;

}

/* NavBar Styling Start */
.nav {
    width: 100%;
    height: 12vh;
    background-color: rgb(46, 33, 33);
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr auto auto 1fr;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logoIcon {
    font-size: 3.5rem;
}

.navItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItems ul {
    display: flex;
    justify-content: center;
}

.navItems li {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 12px;
    list-style: none;
}

.navItems li:hover {
    background-color: rgb(61, 51, 51);

}

.humbuger {
    display: none;
}


/* For Mobile Device Only */
@media (max-width: 480px) {
    .nav {
        width: 100%;
        display: inline-block;
    }

    .logo {
        position: absolute;
        top: 18px;
        left: 8;
        margin-left: 10px;
        padding: 5px;
    }

    #logoIcon {
        font-size: 2.3rem;
    }

    .navItems ul {
        display: block;
        justify-content: center;
        background-color: #2e2424;
        color: white;
        position: absolute;
        top: 4.2rem;
        right: 3rem;
        z-index: 2;
    }

    .humbuger {
        display: inline-block;
        position: absolute;
        top: 22px;
    right: 8px;
        color: white;
        margin: 1rem 1rem;
        cursor: pointer;
    }

    .unOrder {
        display: none;
    }

    input {
        font-size: 1.9rem;
        height: 12vh;
    }

    .allRemove button {
        width: 30%;
        font-size: 1rem;
        padding: 0 7px;
    }

    .todo-style .mark-btn {
        position: absolute;
        right: 8%;
        font-size: 30px;
        margin: 0 22px;

    }

    .todo-style .delete-btn {
        position: absolute;
        right: 1%;
    }

    .inputDiv button {
        width: 17%;
        height: 13%;
    }
}